@font-face {
	font-family: 'OpenSans';
	src: url('font/OpenSans-Light.ttf');
}

@font-face {
	font-family: 'OpenSansBold';
	src: url('font/OpenSans-Regular.ttf');
}


body {
    background: black;
    color: white;
    font-family: 'OpenSans', sans-serif;
}

#flipped {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

img {
    width: 100%;
    height: auto;
}

h3 {
    font-family: 'OpenSansBold', sans-serif;
}
.head {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}
.subhead {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.spacer {
  min-height: 150px;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
  }
  .image1 {
    position: relative;
    top: 0;
    left: 0;
  }
  .image2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.0;
  }
  .image3 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1.0;
  }

  .image4 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.0;
  }

  .textbox_left {
    position: absolute;
    text-align: justify;
    top: 5%;
    left: 2.5%;
    max-width: 40%;
    max-height: 50%;
  }
  .textbox_right {
    position: absolute;
    text-align: justify;
    top: 5%;
    right: 2.5%;
    max-width: 40%;
    max-height: 50%;
  }

  .textbox_right h3 {
    text-align: right;
  }



  @media screen and (max-width: 1075px){
    .textbox_left {
      position: relative;
      max-width: 80%;
      left: 10%;
    }
    .textbox_right {
      position: relative;
      max-width: 80%;
      left: 10%;
    }
  }
